<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}BASE{% endblock title %} - MappingBot</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous">
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    {% endblock head %}
</head>
<body>

<!-- Main content block wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="regular-content-wrapper" class="container-fluid d-flex flex-column">
        <!-- Actual content -->
        <div id="regular-content" class="container-fluid">

            <div class="row justify-content-center">
                <h1>{% block page_title %}BASE{% endblock page_title %} - MappingBot</h1>
            </div>

            {% block regular_content %}
                <!-- Content in the main section goes here -->
                <h1>This is the base template.</h1>
            {% endblock regular_content %}

                <!-- Footer -->
            <div id="footer" class="footer">
                {% block footer %}
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>&copy; Copyright 2021 by Sicco Colijn, Dominik Hafner and Jelle Hierck</span>
                            </div>
                        </div>
                    </footer>
                {% endblock footer %}
            </div> <!-- #footer -->
        </div> <!-- /#regular-content -->
    </div> <!-- /#regular-content-wrapper -->

</div> <!-- /#wrapper -->

{% block script %}

    {# Any extra scripts go here. Always use {% super() %} when adding page-specific scripts #}
{% endblock script %}


</body>
</html>