{% extends "base.html" %}

{# Title (not displayed) #}
{% block title %}Home{% endblock title %}

{# Page title (displayed) #}
{% block page_title %}Home{% endblock page_title %}

{# Content #}
{% block regular_content %}

    <div class="row justify-content-center">
        <a href="{{ url_for('view.overview') }}" class="btn btn-primary">Go to View</a>
    </div>

{% endblock regular_content %}

{# Scripts #}
{% block script %}

    {{ super() }}

{% endblock script %}