{% extends "index.html" %}

{# Title #}
{% block title %}View{% endblock title %}

{# Page title (displayed) #}
{% block page_title %}View{% endblock page_title %}

{# Content #}
{% block regular_content %}

    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Control Panel</h5>
                <p class="card-text">Refresh all images. This will load all currently stored data on the MappingBot and output visualize its current data on this web page.</p>
            </div>
            <div class="card-footer">
                <a onclick="refreshAll();" class="btn btn-primary">Refresh all images</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Control Panel</h5>
                <p class="card-text">Make the MappingBot run its regular program.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary disabled">Drive</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Control Panel</h5>
                <p class="card-text">Return to the bluetooth source signal</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary disabled" disabled>Go to Bluetooth</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Control Panel</h5>
                <p class="card-text">Action placeholder.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary disabled" disabled>Disabled</a>
            </div>
        </div>
    </div>

    <hr class="mt-2 mb-3"/>

    <!-- View cards with data images -->
    <div class="card-deck">
        <div class="card text-center" style="width: 18rem;">
            <img id="datamap-image" src="{{ datamap_file }}" class="card-img-top" alt="{{ datamap_file }}">
            <div class="card-body">
                <h5 class="card-title">Data map</h5>
            </div>
            <div class="card-footer">
                <a onclick="refreshDatamap();" class="btn btn-primary">Refresh</a>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <img id="virtualmap-image" src="{{ virtualmap_file }}" class="card-img-top" alt="{{ virtualmap_file }}">
            <div class="card-body">
                <h5 class="card-title">Virtual map</h5>
            </div>
            <div class="card-footer">
                <a onclick="refreshVirtualmap();" class="btn btn-primary">Refresh</a>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <img id="historymap-image" src="{{ historymap_file }}" class="card-img-top" alt="{{ historymap_file }}">
            <div class="card-body">
                <h5 class="card-title">Current path</h5>
            </div>
            <div class="card-footer">
                <a onclick="refreshHistorymap();" class="btn btn-primary">Refresh</a>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <img id="bluetoothmap-image" src="{{ bluetoothmap_file }}" class="card-img-top"
                 alt="{{ bluetoothmap_file }}">
            <div class="card-body">
                <h5 class="card-title">Bluetooth signal strength</h5>
            </div>
            <div class="card-footer">
                <a onclick="refreshBluetoothmap();" class="btn btn-primary">Refresh</a>
            </div>
        </div>


        {#        <div class="card text-center" style="width: 18rem;">#}
        {#            <img src="{{ url_for('static', filename=mappingdata_filename) }}" class="card-img-top"#}
        {#                 alt="{{ url_for('static', filename=mappingdata_filename) }}">#}
        {#            <div class="card-body">#}
        {#                <h5 class="card-title">Mappingdata</h5>#}
        {#                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
        {#                <a href="#" class="btn btn-primary">Refresh</a>#}
        {#            </div>#}
        {#        </div>#}
    </div>

{% endblock regular_content %}

{# Scripts #}
{% block script %}

    <script type="text/javascript">

    $(document).ready(function () {  // Start this when the page is loaded
        setInterval(function () {  // Start a time which will refresh the images once every 15 seconds
            console.log("Reloading images")
            refreshAll()
        }, 15000);
    });

    function refreshDatamap() {
        $.ajax({
            url: '/view/datamap',
        }).done(function (response) {
            console.log(response);
            document.getElementById('datamap-image').src = response.concat("?random=" + new Date().getTime());
        }).fail(function (error) {
            console.log(error);
        })
    }

    function refreshHistorymap() {
        $.ajax({
            url: '/view/historymap',
        }).done(function (response) {
            console.log(response);
            document.getElementById('historymap-image').src = response.concat("?random=" + new Date().getTime());
        }).fail(function (error) {
            console.log(error);
        })
    }

    function refreshVirtualmap() {
        $.ajax({
            url: '/view/virtualmap',
        }).done(function (response) {
            console.log(response);
            document.getElementById('virtualmap-image').src = response.concat("?random=" + new Date().getTime());
        }).fail(function (error) {
            console.log(error);
        })
    }


    function refreshBluetoothmap() {
        $.ajax({
            url: '/view/bluetoothmap',
        }).done(function (response) {
            console.log(response);
            document.getElementById('bluetoothmap-image').src = response.concat("?random=" + new Date().getTime());
        }).fail(function (error) {
            console.log(error);
        })
    }

    function refreshAll() {
        refreshDatamap();
        refreshBluetoothmap();
        refreshHistorymap();
        refreshVirtualmap();
    }

    </script>

    {{ super() }}

{% endblock script %}